<div class="card text-center">
    <div class="card-header">
        {{user.username}}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{content}}</p>
        <a href="/post/{{id}}" class="btn btn-secondary">Go To Post</a>
        <a href="/posts/update/{{id}}" class="btn btn-success">Edit Post</a>
    </div>
    <div class="card-footer text-muted">
        {{format_date created_at}}
    </div>
</div>